<!--Footer-->
    <footer class="page-footer center-on-small-only">
        
        <!--Footer Links-->
        <div class="container">
           
            <!--First row-->
            <div class="row">
               
                <!--First column-->
                <div class="col-xl-4 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <!--About-->
                    <h5 class="title">ABOUT MATERIAL DESIGN</h5>
                    
                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>

                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
                    <!--/About -->
                </div>
                <!--/First column-->

                <hr class="hidden-lg-up wow fadeIn" data-wow-delay="0.3s">
                
                <!--Second column-->
                <div class="col-xl-4 col-lg-4 text-xs-center wow fadeIn" data-wow-delay="0.3s">
                    <!--Contact-->
                    <h5 class="title">Contact info</h5>     
                    
                    <p>New York, NY 10012<br>
                    United States<br>
                    + 01 234 567 89<br>
                    info@gmail.com</p>  
                    <!-- Contact -->  
                    
                    <!--Facebook-->
                    <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
                    <!--Linkedin-->
                    <a type="button" class="btn-floating btn-small btn-li"><i class="fa fa-linkedin"></i></a>
                    
                </div>
                <!--/Second column-->
                
                <hr class="hidden-lg-up wow fadeIn" data-wow-delay="0.3s">
                
                <!--Third column-->
                <div class="col-xl-4 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <!--Image-->
                    <div class="view hm-black-strong">
                        <img src="http://mdbootstrap.com/images/regular/people/img%20(26).jpg" class="img-fluid">
                        <a href="#!" class="mask flex-center">
                            <p class="white-text text-xs-center">Read about my open expeditions</p>
                        </a>
                    </div>
                </div>
                <!--/Third column-->
                
            </div>
            <!--/First row-->
            
        </div>
        <!--/Footer Links-->
        
        <br>

        <!--Copyright-->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                © 2016 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
            </div>
        </div>
        <!--/Copyright-->
        
    </footer>
    <!--/Footer-->